/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* Banner Area */

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
    display: block;
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: 0.4rem 0;
}

/* End About Area */

/* Pet Area */

.site-main .pet-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.site-main .pet {
    max-width: 350px;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);;
}

.site-main .pet:hover {
    transform: translateY(-8px);
}

.site-main .pet .pet-img {
    width: 100%;
    border-radius: 4% 4% 0 0;
}
.site-main .pet .pet-description {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.site-main .pet .pet-description .name {
    font-weight: 900;
    font-size: 1.4em;
}
.site-main .pet .pet-description .attributes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: solid #999 1px;
}

.site-main .pet .pet-description .attributes .attribute-border {
    border-right: solid #999 1px;
    height: 1.6rem;
}

.site-main .pet .pet-description .attributes .type {
    color: #888;
}

.site-main .pet .action {
    display: flex;
    justify-content: end;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);;
    padding: 0.5rem;
}

.site-main .pet .action .action-container {
    display: flex;
    padding: 0 2rem;
    cursor: pointer;
}

.site-main .pet .action .action-text {
    color: var(--primary-color);
    margin: 0;
    padding-top: 5px;
}

.site-main .pet .action .action-icon {
    content: url("../img/arrow.svg");
    display: inline-block;
    transform: rotate(180deg);
    margin-left: 1rem;
}

/* End Pet Area */

/* Services Area */

.site-main .services-area {
    padding: 7rem 2rem;
}

.site-main .services-area .services-title {
    padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
    font-size: 35px;
}

.site-main > .services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 2rem 0.5rem;
    transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
    box-shadow: var(--box-shadow);
}

/* End Services Area */

/* Project Area */

.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */

/* About Me */

.site-main .about-area .about-title p {
    padding: 1rem 7rem;
}

.site-main .about-area .client {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
    padding: 2rem;
}

.site-main .about-area .client .about-client {
    padding-top: 2rem;
}

.site-main .about-area .client .about-client p {
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

/* End About Me */

/* Contact me */

.site-main .contact-us-area .contact {
    background: url(../img/contact-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .contact-form {
    width: 80%;
}

.site-main .contact-us-area .contact .contact-title p {
    padding: 1rem 4rem;
}

.site-main .contact-us-area .contact form .input-textbox input,
textarea {
    padding: 1.5rem 1rem;
    background: transparent;
    margin-bottom: 1rem;
}

.site-main .contact-us-area .contact form .btn-submit button {
    background: whitesmoke;
    color: #000;
    padding: 0.7rem 2rem;
}

/* End contact me */

/* Footer Area */

footer.footer-area {
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social a > i {
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i {
    color: var(--primary-color);
}

/* End Footer */
